<ion-header>
  <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title>
        Items
      </ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="SearchItems($event)"></ion-searchbar>

  <ion-item *ngIf="shop">
    <button  color="danger" icon-left="" ion-button="" class="disable-hover button button-ios button-default button-default-ios button-ios-danger" (click)="RemoveShop()">
      <span class="button-inner">
          <ion-icon name="close" role="img" class="icon icon-ios ion-ios-close" aria-label="close"></ion-icon>
              {{ shop.name }}
        </span>
    </button>
  </ion-item>

  <ion-item>
    <ion-label><strong>Discounts only</strong></ion-label>
    <ion-toggle [(ngModel)]="discount" (ionChange)="Change()"></ion-toggle>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let i of items">
      <div>
        <p>{{ i.shop.name }}</p>
        <h2>{{i.product.name}}</h2>
      </div>
      
      <div item-right>
        <h2 *ngIf="i.discount == 0" item-right>{{i.price}},-</h2>
        <h2 *ngIf="i.discount > 0" item-right class="strikethrough">{{i.price}},-</h2>
        <h2 *ngIf="i.discount > 0" item-right>{{i.discount}},-</h2>
      </div>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row *ngIf="items.length == 0 && emptyList">
      <ion-col col-12 style="text-align:center; font-size:100px; opacity: 0.5;">
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
        <h2 style="text-align: center; opacity: 0.5;">There are currently no items :(</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
