<ion-header>
  <ion-toolbar color="primary">
    <ion-navbar>
      <ion-title>
        Shops
      </ion-title>
    </ion-navbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="SearchShops($event)"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let s of shops" (click)="pushPage(s.id)">

        <ion-thumbnail item-left>
          <img src="{{s.image}}">
        </ion-thumbnail>
        <h2>{{s.name}}</h2>
        <div *ngFor="let o of s.opening_hour">

          <div *ngIf="day == o.day">
            <p>Open: {{ o.open }}</p>
            <p>Close: {{ o.close }}</p>

            <div item-right *ngIf="(o.open | Openinghours) < time && (o.close | Openinghours) > time">
              <h2 item-right style="color:green">Open</h2>
            </div>
            <div  item-right *ngIf="(o.open | Openinghours) > time || (o.close | Openinghours) < time">
              <h2 item-right style="color:red">Closed</h2>
            </div>

          </div>
        </div>

    </ion-item>
  </ion-list>

<ion-grid>
  <ion-row *ngIf="emptyList">
    <ion-col col-12 style="text-align:center; font-size:100px; opacity: 0.5;">
        <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
        <h2 style="text-align: center; opacity: 0.5;">The list is currently Empty :(</h2>
      </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
